.HomeContainer {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: cover;
    background-origin: border-box;
    background-image: url('../../images/background-image.svg');
}

h1 {
    margin-top: 250px;
    margin-bottom: 75px;
}
