.background {
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8)

}

.faqContainer {
    width: 50rem;
    height: 35rem;
    border: 10px solid;
    border-color: #6534FF;
    border-radius: 25px;
    padding: 25px;
    background-color: #000001;
}

.faq-title{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.questions-container {
    height: 30rem;
    overflow-y: scroll;
}

.questions-container::-webkit-scrollbar {
    background-color: #161616;
    border-radius: 5px;
    width: 10px;
}

.questions-container::-webkit-scrollbar-thumb {
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
}

.ask {
    font-size: 2rem;
}

.response {
    font-size: 1.5rem;
    font-weight: 400;
}

.close {
    display: none;
    font-size: 2rem;
    position: fixed;
    top: 15%;
    right: 15%;
    cursor: pointer;
}

.active {
        display: flex;
}

@media (max-width: 802px) {
    .faqContainer {
        width: 80%;
    }
    
    .close {
        display: flex;
    }
}