.background {
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6)

}

.faqContainer {
    width: 50em;
    height: 30em;
    border: 10px solid;
    border-color: #6534FF;
    border-radius: 25px;
    padding: 25px;
    background-color: #000001;
}

.faq-title{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.ask {
    font-size: 2rem;
}

.response {
    font-size: 1.5rem;
    font-weight: 400;
}

.active {
        display: flex;
}