.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
    position: fixed;
    top: 0;
}

.home {
    margin-left: 50px;
    cursor: pointer;
}

.social {
    margin-left: 50px;
}

.faq {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: end;
    margin-right: 50px;
    cursor: pointer;
}

.faq:hover {
    opacity: 80%;
}