.winnersListContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 25px;
    max-height: 500px;
}

.winnersListContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.overflow {
    overflow-y: scroll;
}

#scrollbar {
    scrollbar-width: auto;
}

#scrollbar::-webkit-scrollbar {
    width: auto;
    height: auto;
}

@media (max-width: 802px) {
    .winnersListContainer {
        width: 80%;
        overflow-x: scroll;
        max-height: 35%;
    }
}